* {
  font-family: "Ubuntu";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0b0d;
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #4dce29;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  transform: scale(1.2);
}
